.parent {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.enfant {
  margin: auto; /* eh oui, tout bêtement */
}

.img-item{
  max-height: 100px !important;
  max-width: 100px !important;
}